<!doctype html>
<html ng-app="ListeaFaire">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Liste des choses à faire</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="task.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   
<style>
    .fait{
        text-decoration:line-through ;
    }
    .modif{
        text-decoration-color: aqua;
        display: none;
    }
</style>   
    </head>
    <body ng-controller="mainController">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex ">
                <span class="navbar-brand mb-0 h1 mr-auto p-2">To-Do list</span>
                <button class="btn btn-outline-danger " ng-click="deconnecter()">Déconnexion</button>
            </nav>

        <h1 class="mt-5">La Liste des choses à faire</h1>
        <br/> Liste de choses à faire: {{laliste.length}}
        
        <div id="todo-form">
            <form class="form-inline">
                <input type="text" placeholder="écrire quelque chose" ng-model="formData.name" class="form-control mb-2 mr-sm-2">
                <button type="submit" ng-click="createListTodo()" class="btn btn-dark">Créer une nouvelle liste</button>
            </form>
        </div>

        <div class="mt-5 ml-3" id="todo-list">
            <div ng-repeat="liste in laliste">
                <form class="form-inline" class=>
                    <span class="h4">-{{liste.name}} </span>
                    <button class="ml-3" ng-click="deleteTodoList(liste._id)">Supprimer cette liste</button>
                    <button id="btnAddTask{{$index}}" ng-click="toggle_visibility($index)" class="ml-3">Ajouter une tâche</button>  
                    <div id="addTaskForm{{$index}}" class="ml-5" style="display: none" >    
                        <input type="text" placeholder="écrire quelque chose" ng-model="formTask.name" class="form-control mb-2 mr-sm-2">
                        <button type="submit" ng-click="createTodo(liste.name)" class="btn btn-dark">Ajouter la tâche </button>
                        <button ng-click="toggle_visibility($index)">Annuler</button>
                    </div>
                </form>
                    <div class="list-group ml-5" ng-repeat="x in liste.tache">   
                        <div  class="list-group-item">             
                        <form class="form-inline">  
                            <button ng-click="updateTodo(x._id)" class="btn btn-dark">c</button>
                            <button ng-click="deleteTodo(x._id)" class="btn btn-danger"> x </button>
                            <span ng-class="{'fait' : x.done }"> {{x.name}} </span>
                            <!--  <a href=# onclick="mafonction()" >   modifier </a> -->
                            <button id= "btnModifyAsk{{x._id}}" ng-click="modifyVisibility(x._id)" class="ml-3">Modifier tâche</button>
                            <div id="modifyTaskForm{{x._id}}" ng-class="{'modif': x.done}" style="display: none; margin-left: 10px">
                                <input type="text" placeholder="Modifier la tache" ng-model="changeData.name2">
                                <button type = "submit" ng-click="changeTodo(x._id)" class="btn btn-dark">Modifier</button>
                                <button ng-click="modifyVisibility(x._id)">Annuler</button>
                            </div>
                            </form>
                        </div>                    
                    </div>
                <br/><br/>
            </div>
        </div>
    </body>
</html>